<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if feedback %}
        <p style="color: rgb(248, 46, 255); font-weight: bold;">{{ are_you_stupid_or_not }}</p>
    {% endif %}
    <h1>{{ question }}</h1>
    <form action="/answer" method="POST">
        <input type="text" name="answer" required>
        <input type="hidden" name="question" value="{{ question }}">
        <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
        <input type="hidden" name="pokemon" value="{{ pokemon['name'] }}">
        <button type="submit">Submit</button>
    </form>
</body>
</html>